body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}

nav {
    background-color: #666;
    padding: 10px;
    text-align: center;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 8px 16px;
    margin: 0 8px;
}

main {
    padding: 20px;
}

/* Ajoutez ces styles à votre fichier style.css */

#interviews .interview {
    background-color: white;
    border-radius: 8px;
    margin-bottom: 20px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Légère ombre */
}

#interviews .interview h2 {
    color: #333; /* Couleur du texte pour le titre */
}

#interviews .interview p {
    color: #555; /* Couleur du texte pour le paragraphe */
}


.persona {
    background-color: white;
    border-radius: 8px;
    margin-bottom: 20px;
    padding: 20px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}


/* Ajoutez ces styles à votre fichier styles.css */

idee {
    text-align: center; /* Centre le texte dans la section idee */
    padding: 20px;
    margin: 20px 0;
    border-radius: 8px;  
}

idee h2 {
    color: #333; /* Couleur du texte pour le titre */
}

idee p {
    color: #555; /* Couleur du texte pour le paragraphe */
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
}

h1 {
    margin: 0;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 0 20px;
}

section {
    background-color: white;
    border-radius: 8px;
    margin-bottom: 20px;
    padding: 20px;
}

.info-section {
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    padding: 15px;
}

.info-section h2 {
    color: #333;
    font-size: 1.3em;
    margin-top: 0;
}

.info-section p {
    color: #555;
    font-size: 1em;
    margin-bottom: 0;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}


.anecdote {
    background-color: #f9f9f9;
    border-left: 4px solid #ccc;
    padding: 10px;
    margin-top: 10px;
}

.anecdote p {
    color: #555;
    font-style: italic;
}
